*{
  box-sizing: border-box;
}

body{
  background-color: hsl(230, 17%, 14%);
}

h1, h2, h3, h4, h5, h6{
  color: hsl(0, 0%, 100%);
}

p, label{
  color: hsl(228, 34%, 66%);
}

hr{
  margin-top: 5%;
  border-top: 1px solid hsl(228, 34%, 66%);
}


/* Title Section */

#title{
  padding: 3% 7% 15%;
}

.dark-mode-title{
  background-color: hsl(232, 19%, 15%);
}

.dark-theme-txt{
  color: hsl(228, 34%, 66%);
  float: left;
}

.tgl-btn{
  margin-top: 10px;
  float: right;
}


/* Profile Section */

#profiles{
    padding: 3% 7% 15%;
}

.profile-card{
  text-align: center;
  background-color: hsl(228, 28%, 20%);
}
